---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Baltimare | Credits">
  <div
    class="w-5/6 lg:w-3/5 lg:my-0 my-8 p-4 lg:p-8 glass items-center justify-center text-black"
  >
    <div class="mb-4">
      <div class="text-center uppercase text-4xl lg:text-8xl font-semibold tracking-wide">
        Credits
      </div>
    </div>
    <div class="my-1">
      <div
        class="text-center text-base lg:text-3xl font-semibold my-2 uppercase tracking-wide"
      >
        Staff
      </div>
      <div class="my-1 grid grid-cols-2 lg:grid-cols-2 gap-x-2 lg:gap-x-8 gap-y-1">
        <div class="flex items-center gap-x-2 lg:gap-x-4">
          <img src="/twi.png" width="48" height="48" class="rounded-lg" />
          <div class="flex flex-col text-left">
            <div class="text-sm lg:text-2xl font-semibold -mb-1 whitespace-nowrap">Rarapony</div>
            <div class="text-xs lg:text-lg">Owner</div>
          </div>
        </div>
        <div class="flex items-center gap-x-2 lg:gap-x-4">
          <img src="/twi.png" width="48" height="48" class="rounded-lg" />
          <div class="flex flex-col text-left">
            <div class="text-sm lg:text-2xl font-semibold -mb-1 whitespace-nowrap">Neri</div>
            <div class="text-xs lg:text-lg">Janny</div>
          </div>
        </div>
        <div class="flex items-center gap-x-2 lg:gap-x-4">
          <img src="/twi.png" width="48" height="48" class="rounded-lg" />
          <div class="flex flex-col text-left">
            <div class="text-sm lg:text-2xl font-semibold -mb-1 whitespace-nowrap">Alpha Rush</div>
            <div class="text-xs lg:text-lg">Janny</div>
          </div>
        </div>
        <div class="flex items-center gap-x-2 lg:gap-x-4">
          <img src="/twi.png" width="48" height="48" class="rounded-lg" />
          <div class="flex flex-col text-left">
            <div class="text-sm lg:text-2xl font-semibold -mb-1 whitespace-nowrap">Flutterbutter</div>
            <div class="text-xs lg:text-lg">Janny</div>
          </div>
        </div>
        <div class="flex items-center gap-x-2 lg:gap-x-4">
          <img src="/twi.png" width="48" height="48" class="rounded-lg" />
          <div class="flex flex-col text-left">
            <div class="text-sm lg:text-2xl font-semibold -mb-1 whitespace-nowrap">Kuro</div>
            <div class="text-xs lg:text-lg">Janny</div>
          </div>
        </div>
        <div class="flex items-center gap-x-2 lg:gap-x-4">
          <img src="/twi.png" width="48" height="48" class="rounded-lg" />
          <div class="flex flex-col text-left">
            <div class="text-sm lg:text-2xl font-semibold -mb-1 whitespace-nowrap">Tea Love</div>
            <div class="text-xs lg:text-lg">Janny</div>
          </div>
        </div>
        <div class="flex items-center gap-x-2 lg:gap-x-4">
          <img src="/twi.png" width="48" height="48" class="rounded-lg" />
          <div class="flex flex-col text-left">
            <div class="text-sm lg:text-2xl font-semibold -mb-1 whitespace-nowrap">MarbIe</div>
            <div class="text-xs lg:text-lg">Janny</div>
          </div>
        </div>
        <div class="flex items-center gap-x-2 lg:gap-x-4">
          <img src="/twi.png" width="48" height="48" class="rounded-lg" />
          <div class="flex flex-col text-left">
            <div class="text-sm lg:text-2xl font-semibold -mb-1 whitespace-nowrap">Boggy</div>
            <div class="text-xs lg:text-lg">Janny</div>
          </div>
        </div>
      </div>
    </div>
    <div class="my-1">
      <div
        class="text-center text-base lg:text-3xl font-semibold my-2 uppercase tracking-wide"
      >
        Special Thanks
      </div>
      <div class="my-1 grid grid-cols-2 lg:grid-cols-2 gap-x-2 lg:gap-x-8 gap-y-1">
        <div class="flex items-center gap-x-2 lg:gap-x-4">
          <img src="/twi.png" width="48" height="48" class="rounded-lg" />
          <div class="flex flex-col text-left">
            <div class="text-sm lg:text-2xl font-semibold -mb-1 whitespace-nowrap">Neri</div>
            <div class="text-xs lg:text-lg">Events coordinator</div>
          </div>
        </div>
        <div class="flex items-center gap-x-2 lg:gap-x-4">
          <img src="/twi.png" width="48" height="48" class="rounded-lg" />
          <div class="flex flex-col text-left">
            <div class="text-sm lg:text-2xl font-semibold -mb-1 whitespace-nowrap">Quote Unquote</div>
            <div class="text-xs lg:text-lg">Sim layout and design</div>
          </div>
        </div>
        <div class="flex items-center gap-x-2 lg:gap-x-4">
          <img src="/twi.png" width="48" height="48" class="rounded-lg" />
          <div class="flex flex-col text-left">
            <div class="text-sm lg:text-2xl font-semibold -mb-1 whitespace-nowrap">Izzy</div>
            <div class="text-xs lg:text-lg">Open Pony models</div>
          </div>
        </div>
        <div class="flex items-center gap-x-2 lg:gap-x-4">
          <img src="/twi.png" width="48" height="48" class="rounded-lg" />
          <div class="flex flex-col text-left">
            <div class="text-sm lg:text-2xl font-semibold -mb-1 whitespace-nowrap">Tea Love</div>
            <div class="text-xs lg:text-lg">Sim layout and design</div>
          </div>
        </div>
      </div>
    </div>
    <div class="my-1">
      <div
        class="text-center text-base lg:text-3xl font-semibold my-2 uppercase tracking-wide"
      >
        Website
      </div>
      <div class="my-1 grid grid-cols-2 lg:grid-cols-2 gap-x-2 lg:gap-x-8 gap-y-1">
        <div class="flex items-center gap-x-2 lg:gap-x-4">
          <img src="/twi.png" width="48" height="48" class="rounded-lg" />
          <div class="flex flex-col text-left">
            <div class="text-sm lg:text-2xl font-semibold -mb-1 whitespace-nowrap">15</div>
            <div class="text-xs lg:text-lg">Full-stack development</div>
          </div>
        </div>
        <div class="flex items-center gap-x-2 lg:gap-x-4">
          <img src="/twi.png" width="48" height="48" class="rounded-lg" />
          <div class="flex flex-col text-left">
            <div class="text-sm lg:text-2xl font-semibold -mb-1 whitespace-nowrap">Rarapony</div>
            <div class="text-xs lg:text-lg">Backend development</div>
          </div>
        </div>
        <div class="flex items-center gap-x-2 lg:gap-x-4">
          <img src="/twi.png" width="48" height="48" class="rounded-lg" />
          <div class="flex flex-col text-left">
            <div class="text-sm lg:text-2xl font-semibold -mb-1 whitespace-nowrap">MarbIe</div>
            <div class="text-xs lg:text-lg">Art assets</div>
          </div>
        </div>
        <div class="flex items-center gap-x-2 lg:gap-x-4">
          <img src="/twi.png" width="48" height="48" class="rounded-lg" />
          <div class="flex flex-col text-left">
            <div class="text-sm lg:text-2xl font-semibold -mb-1 whitespace-nowrap">Amble Arbiter</div>
            <div class="text-xs lg:text-lg">Art assets</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
