---
import Layout from "../layouts/Layout.astro";
// import { Icon } from 'astro-icon/components'
---

<Layout title="Baltimare | FAQ">
  <div class="w-5/6 lg:w-3/5 lg:my-0 my-8 p-4 lg:p-8 glass items-center justify-center text-black">
    <div class="mb-4">
      <div class="text-center uppercase text-4xl lg:text-8xl font-semibold tracking-wide">
        FAQ
      </div>
      <!-- <div class="text-center uppercase text-xl font-semibold tracking-wide">
              (Abridged) 
            </div> -->
    </div>
    <div class="my-1">
      <div
        class="tracking-wide text-sm lg:text-xl my-1 font-semibold text-green-700 text-shadow"
      >
        >What is Open Pony?
      </div>
      <div class="text-xs lg:text-base font-normal">
        A model for Second Life that beats all other 3D pony models. Info
        <a
          href="https://www.equestriadaily.com/2022/05/a-showcase-of-amazing-and-completely.html"
          class="text-blue-600 hover:text-blue-700 hover:underline"
          target="_blank">here</a
        >
        <span class="font-mono font-semibold text-neutral-700"
          >(equestriadaily.com)</span
        >.
      </div>
    </div>
    <div class="my-1">
      <div
        class="tracking-wide text-sm lg:text-xl my-1 font-semibold text-green-700 text-shadow"
      >
        >Just give me a MARE
      </div>
      <div class="text-xs lg:text-base font-normal">
        <ul class="list-disc ml-6">
          <li>
            <a
              class="text-blue-600 hover:text-blue-700 hover:underline"
              href="https://drive.google.com/file/d/1ZkMo8NDwuNG8skCJI2gDbWl9LYm4Q_tN/view"
              target="_blank">Idiot-proof starter guide</a
            >
            <span class="font-mono font-semibold text-neutral-700"
              >(drive.google.com)</span
            >
          </li>
          <li>
            <a
              class="text-blue-600 hover:text-blue-700 hover:underline"
              href="https://ponepaste.org/7410"
              target="_blank">A noob's guide for other noobs</a
            >
            <span class="font-mono font-semibold text-neutral-700"
              >(ponepaste.org)</span
            >
          </li>
          <li>
            <a
              class="text-blue-600 hover:text-blue-700 hover:underline"
              href="https://smutty.mare.stream/mlajjqelswj.png"
              target="_blank">Braindead simple Anonmare guide</a
            >
            <span class="font-mono font-semibold text-neutral-700">(.png)</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="my-1">
      <div
        class="tracking-wide text-sm lg:text-xl my-1 font-semibold text-green-700 text-shadow"
      >
        >Join the /mlp/ SL group
      </div>
      <div class="text-xs lg:text-base font-normal">
        Click
        <a
          href="secondlife:///app/group/da37f318-781a-fd7e-e8e9-1a5bbf2ebc34/about"
          class="text-blue-600 hover:text-blue-700 hover:underline"
          target="_blank">here</a
        >.
      </div>
    </div>
    <div class="my-1">
      <div
        class="tracking-wide text-sm lg:text-xl my-1 font-semibold text-green-700 text-shadow"
      >
        >Where is the /mlp/ hangout?
      </div>
      <div class="text-xs lg:text-base font-normal">
        <ul class="list-disc ml-6">
          <li>
            <a
              class="text-blue-600 hover:text-blue-700 hover:underline"
              href="http://maps.secondlife.com/secondlife/Baltimare/109/160/36"
              target="_blank">Baltimare, open-access</a
            >
            <span class="font-mono font-semibold text-neutral-700"
              >(secondlife.com)</span
            >
          </li>
          <li>
            <a
              class="text-blue-600 hover:text-blue-700 hover:underline"
              href="https://maps.secondlife.com/secondlife/Cloudsdale/39/57/1581"
              target="_blank">Cloudsdale, invite-only</a
            >
            <span class="font-mono font-semibold text-neutral-700"
              >(secondlife.com)</span
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="my-1">
      <div
        class="tracking-wide text-sm lg:text-xl my-1 font-semibold text-green-700 text-shadow"
      >
        >Visit one of the many other SL pony hangouts:
      </div>
      <div class="text-xs lg:text-base font-normal">
        <ul class="list-disc ml-6">
          <li>
            <a
              class="text-blue-600 hover:text-blue-700 hover:underline"
              href="http://maps.secondlife.com/secondlife/Las%20Pegasus/137/71/12"
              target="_blank">Luna's Empire / H-Mart Tower</a
            >
            <span class="font-mono font-semibold text-neutral-700"
              >(secondlife.com)</span
            >
            (Free goodies in the gift shop)
          </li>
          <li>
            <a
              class="text-blue-600 hover:text-blue-700 hover:underline"
              href="http://maps.secondlife.com/secondlife/Ponyville/234/32/1503"
              target="_blank">Ponyville shop</a
            >
            <span class="font-mono font-semibold text-neutral-700"
              >(secondlife.com)</span
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="my-1">
      <div
        class="tracking-wide text-sm lg:text-xl my-1 font-semibold text-green-700 text-shadow"
      >
        >Content creation resources:
      </div>
      <div class="text-xs lg:text-base font-normal">
        Click
        <a
          href="https://ponepaste.org/8725"
          class="text-blue-600 hover:text-blue-700 hover:underline"
          target="_blank">here</a
        >
        <span class="font-mono font-semibold text-neutral-700"
          >(ponepaste.org)</span
        >.
      </div>
    </div>
    <div class="my-1">
      <div
        class="tracking-wide text-sm lg:text-xl my-1 font-semibold text-green-700 text-shadow"
      >
        >Baltimare design/planning channels
      </div>
      <div class="text-xs lg:text-base font-normal">
        Click
        <a
          href="https://app.element.io/#/room/#baltimare:pony.cx"
          class="text-blue-600 hover:text-blue-700 hover:underline"
          target="_blank">here</a
        >
        <span class="font-mono font-semibold text-neutral-700"
          >(element.io)</span
        >. Change homeserver to matrix.horse.
      </div>
    </div>
    <div class="my-1">
      <div
        class="tracking-wide text-sm lg:text-xl my-1 font-semibold text-green-700 text-shadow"
      >
        >Live Baltimare stream
      </div>
      <div class="text-xs lg:text-base font-normal">
        <a
          href="https://picarto.tv/BalTV"
          class="text-blue-600 hover:text-blue-700 hover:underline"
          target="_blank">Picarto Stream</a
        >
        <span class="font-mono font-semibold text-neutral-700"
          >(picarto.tv)</span
        >
      </div>
    </div>
  </div>
</Layout>
