---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Baltimare | Rules">
  <div class="w-5/6 lg:w-3/5 lg:my-0 my-8 p-4 lg:p-8 glass items-center justify-center text-black">
    <div class="mb-4">
      <div class="text-center uppercase text-4xl lg:text-8xl font-semibold tracking-wide">
        Rules
      </div>
      <div
        class="text-neutral-800 text-center text-sm lg:text-2xl font-semibold tracking-wide"
      >
        (Abridged version)
      </div>
    </div>
    <div class="my-1">
      <div
        class="tracking-wide text-lg lg:text-3xl my-1 text-red-600 font-semibold text-shadow"
      >
        1. No hooves = No rights
      </div>
      <div class="text-base lg:text-xl my-1 font-normal">
        Non-quadruped and non-pony avatars can be kicked, banned, etc. for any
        reason.
      </div>
    </div>
    <div class="my-1">
      <div
        class="tracking-wide text-lg lg:text-3xl my-1 text-red-600 font-semibold text-shadow"
      >
        2. Don't be stupid
      </div>
      <div class="text-base lg:text-xl my-1 font-normal">
        Do not grief the hangout or the sim. Take weapons/grief testing to an
        appropriate area. Clean up after yourself. Don't be obnoxious.
      </div>
    </div>
    <div class="my-1">
      <div
        class="tracking-wide text-lg lg:text-3xl my-1 text-red-600 font-semibold text-shadow"
      >
        3. Don't ruin field trips or events
      </div>
      <div class="text-base lg:text-xl my-1 font-normal">
        You are expected to use your good judgment to check what is or isn't
        appropriate.
      </div>
    </div>
    <div class="my-1">
      <div
        class="tracking-wide text-lg lg:text-3xl my-1 text-red-600 font-semibold text-shadow"
      >
        4. Don't overtly break the TOS
      </div>
      <div class="text-base lg:text-xl my-1 font-normal">
        Ageplayers and child avatars will be banned.
      </div>
    </div>
  </div>
</Layout>
