---
const { pathname } = Astro.url;
---
<div
  class="absolute -top-24 lg:top-auto lg:-left-48 w-auto rounded lg:rounded-2xl mt-4 lg:mx-4 m-0 py-2 px-4 lg:p-8 flex items-center justify-center bg-neutral-800 text-amber-50 rotate-0 lg:-rotate-3"
  style="font-family: 'Poppins'; filter: drop-shadow(0 2px 2px #000)"
>
  <nav
    class="text-sm lg:text-5xl gap-x-8 lg:gap-x-0 lg:gap-y-8 uppercase font-semibold text-center flex flex-row lg:flex-col"
  >
    <a
      class={`hover:underline underline-offset-8 ${pathname === "/" ? "underline" : null}`}
      href="/">Home</a
    >
    <!-- <a
      class={`hover:underline underline-offset-8 ${pathname === "/about" ? "underline" : null}`}
      href="/about">About</a
    > -->
    <a
      class={`hover:underline underline-offset-8 ${pathname.includes("/rules") ? "underline" : null}`}
      href="/rules">Rules</a
    >
    <a
      class={`hover:underline underline-offset-8 ${pathname.includes("/faq") ? "underline" : null}`}
      href="/faq">FAQ</a
    >
    <a
      class={`hover:underline underline-offset-8 ${pathname.includes("/gallery") ? "underline" : null}`}
      href="/gallery">Gallery</a
    >
    <a
      class={`hover:underline underline-offset-8 ${pathname.includes("/bans") ? "underline" : null}`}
      href="/bans">Bans</a
    >
    <a
      class={`hover:underline underline-offset-8 ${pathname.includes("/credits") ? "underline" : null}`}
      href="/credits">Credits</a
    >
  </nav>
</div>
